
p {
  width: 500px;
  border: 1px solid black;
}
=======
/* element selector*/
p {
	color: black;
}

/* class selector */
.quote {
	color:red;
	border: 1px solid black;
}

/* id selector */
.mainquote{
	color: green;
	border: 5px solid black;
}